body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
}

.container{
    background: white;
    max-width: 340px;
    margin: 35px auto;
    padding: 22px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 16px 18px 32px 0px rgba(0,0,0,0.75);
}
input,button{
    margin: 7px 0;
    padding: 8px;
    font-size: 1em;
    width: 85%;
    border-radius: 4px;
}
button{
    background: #4097db;
    color: white;
    border: none;
    cursor: pointer;
}
#hasil{
    margin-top: 13px;
    font-weight: bold;
    color: #22558a;
}
#history{
    margin-top: 10px;
    text-align: left;
    font-size: .96em;
    color: #444;
}
h3{
    margin-top: 18px;
    margin-bottom: 2px;
    color: #22558a;
    font-size: 1.09em;
}


